.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.spacer {
  width: 50px;
}

.input,
.mobileInput {
  inline-size: 182px;
  overflow-wrap: break-word;
}

.mobileInput {
  top: 40px;
  z-index: 1;
  position: absolute;
}

.containerMobile,
.containerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #E8ECF1;
  inline-size: 110px;
  overflow-wrap: break-word;
}

.textDiv {
  color: #C8CDD5;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 13px;
}

.visaPolicyText {
  color: #E8ECF1;
}

.mobileBackground {
  background-color: #1A2235;
}

.progressBarDesktop {
  margin: 0px;
  margin-top: 10px;
  width: 492px;
  height: 20px;
  position: relative;
  text-align: left;
  float: left;
}

.progressBarsContainer {
  width: 500px;
}

.rank {
  color: #00D4AA;
  position: relative;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Inter', proxima, sans-serif;
  font-weight: 600;
}

.textSeparator {
  display: flex;
  align-items: center;
}

.separator {
  flex: 1;
  margin: 0 10px;
}

.inputText {
  color: #E8ECF1;
}
.inputText:hover {
  cursor: pointer;
  background-color: #1E2840;
}